<!DOCTYPE html>
<html>
<head>
<link rel="icon" href="https://cdn3.iconfinder.com/data/icons/helmet/154/rome-warrior-soldier-helmet-512.png">
<title>Flask Multiple Upload</title>
<style>
body{background-color: #e6ffff }
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</style>
</head>
<body>
<hr><p>

<h1>Detection of Helmet-Violation by 2-Wheelers</h1>
<hr><p>

<h3>Instructions:<p></h3>

1. The following cropped images contain 2-wheelers found to commit Helmet-violation.<p>
2. Click on <strong>Download All Images</strong> to save all listed images.<p>
3. Alternatively, you can download specific images by clicking <strong>Download Image</strong>.<p>

<hr><p>

<a href="{{ url_for('index') }}">Upload Different Video</a><p>
<hr><p>
<hr><p>

<button type="button" onclick="compress_zip('{{uuid}}')">Compress as ZIP</button>
<script>
    function compress_zip(foldername){
        console.log(foldername);
        // console.log(file);
        var theUrl = '/zip/'+foldername;
        console.log(theUrl);
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                //callback(xmlHttp.responseText);
                console.log('Yeah!');
            }
        xmlHttp.open("GET", theUrl, true); // true for asynchronous
        xmlHttp.send();
    }
</script>

<a href="{{ url_for('static', filename='uploads/{}.zip'.format(uuid)) }}"download="{{file}}">Download Zip</a>


{% for file in files %}
	<hr><p>
    <strong>Filename: </strong>
    {{file}}<p>
    <strong>Timestamp: </strong>
    {{timestamp}}<p>
    <img src="{{ url_for('static', filename='uploads/{}/{}'.format(uuid, file)) }}" alt="" max-height=50% width=50%>
    <a href="{{ url_for('static', filename='uploads/{}/{}'.format(uuid, file)) }}" download="{{file}}">Download Image</a>

{% endfor %}

</body>
</html>
